.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.calculadora{
  background-color: rgb(94, 88, 88);
  height: 48vh;
  border-radius: 10px;
}
.pantalla{
  background-color: white;
  height: 10vh;
  width: 50vh;
  border-radius: 10px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
h2{
  color: black;
  margin-right: 10px;
}
.botones {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 2vh;
  background-color: rgb(94, 88, 88); /*#282c34*/
  height: 5vh;
  width: 50vh;
  border-radius: 50px;
  overflow: hidden;
}

button {
  height: 100%;
  width: 5vh;
  border-radius: 50px;
  border-color: white;
  margin-right: 5vh; 
}

button:last-child {
  margin-right: 0;
}